@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);
a:focus, a:active {
    outline: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif; 
}
h1{
    font-weight: 700;
}
p {
    font-family: 'Merriweather', serif; 
}
header {
    position: fixed;
    width: 100%;
}
.top-bar {
    padding: 0;
}
.top-bar a {
    color: #fff;
    font-size: 18px;
    font-family: 'Merriweather', serif;
}
.logo a {
    font-family: 'Kaushan Script', cursive;
    font-size: 18px;
}
.logo > a > img {
    width: 35px;
    margin-right: 15px!important;
}
.top-bar-right {
    margin-top: 10px;
}
.top-bar, .top-bar ul {
  background-color: #1B1B1B;
}
.menu a {
    color: #fff;
}
#intro {
    background: url('../img/index.jpeg') no-repeat scroll center center / cover rgba(27, 27, 27, 0.6);
    padding-top: 220px;
    padding-bottom: 220px;
    color: #fff;
}
#intro a {
    border: 1px solid #dbdbdb;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
}
#intro p {
    margin-bottom: 80px;
}
.preview {
    width: 65%;
    margin: 0 auto;
    border-style: solid;
    border-width: 20px;
    border-radius: 20px;
    border-bottom: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-top: 35px;
}
#portfolio {
}
.work {
    padding-top: 50px;
    color: #fff;
}

.work a {
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #fff;
}

.work h3 {
    font-weight: 700;
    margin-bottom: 0;
}
.work p {
    font-size: 14px;
    margin-bottom: 35px;
}
.one {
    background-color: #2D3035;
}

.one .preview {
    border-color: #13161b;
}

.tow {
    background-color: #2A252C;
}

.tow .preview {
    border-color: #1B161D;
}
.three {
    background-color: #334245;
}

.three .preview {
    border-color: #1B2D31;
}
.four {
    background-color: #185260;
}

.four .preview {
    border-color: #05272F;
}
#testimonial {
    background-color: #FEFEF6;
    padding-top: 50px;
}
#testimonial h2 {
    color: #303948;
    font-weight: 700;
    margin-bottom: 0;
}
#testimonial p{
    color: #666;
    margin-top: -5px;
    margin-bottom: 50px;
}
#testimonial blockquote {
    border: 1px solid;
    border-radius: 5px;
    margin: 0px 130px 30px;
    transition: box-shadow 0.3s ease 0s, color 0.3s ease 0s;
    padding-bottom: 5px;
}
#testimonial blockquote:hover {
    border-color: #1AAF37;
}

#testimonial blockquote strong {
    color: #8A8A8A;
    margin-left: 500px;
    display: block;
}
#testimonial blockquote strong img {
    width: 15px;
    margin-right: 5px;
    margin-top: -3px;
}
#contact {
    background-color: #2C3E50;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 30px;
}
#contact h2 {
    font-weight: 700;
    margin-bottom: 0;
}
#contact p {
    margin-top: -5px;
    margin-bottom: 50px;
}
#contact input,
#contact textarea {
    background-color: #17293b;
    color: #fff;
    border: 1px solid #fff;
}
#contact input:focus,
#contact textarea:focus {
    border-color: #17293b;
}
#contact address p {
    margin-bottom: 10px;
}
#contact .menu {
    margin-top: 40px;
}
#contact ul li a img {
    width: 75px;
}
.send {
    border: 1px solid #fff;
    background-color: #17293b!important;
}
/* spam_trap: This input is hidden. This is here to trick the spam bots*/
#contactus .spmhidip
{
   display:none;
   width:10px;
   height:3px;
}
#fg_crdiv
{
   font-family : Arial, sans-serif;
   font-size: 0.3em;
   opacity: .2;
   -moz-opacity: .2;
   filter: alpha(opacity=20);   
}
#fg_crdiv p
{
    display: none;
}
footer {
    background-color: #1B1B1B;
    color: #fff;
}
footer p {
    font-size: 12px;
    margin-top: 15px;
}
footer .menu {
    margin-top: 5px;
}
@media screen and (min-width: 725px) and (max-width: 950px) {
    #testimonial blockquote strong {
        margin-left: 230px;
    }
}
@media screen and (max-width: 724px) {
    #testimonial blockquote {
        margin: 10px auto;
    }
    #testimonial blockquote strong {
        display: block;
        text-align: center;
        margin: 0;
    }
    .menu-icon, .title-bar-title {
        margin-top: 20px;
    }
    #contact address {
        float: left;
    }
    #contact .menu {
        float: right;
        margin-top: 5px;
    }
}
@media screen and (max-width: 639px){
    #contactus {
        margin-top: 50px;
    }
}