<section class="section text-center contacts">
  <div class="section-title">
    <h3>Get In Touch</h3>
    <div class="icon">
      <svg style="width:24px;height:24px" viewBox="0 0 24 24">
        <path d="M20,0H4V2H20V0M4,24H20V22H4V24M20,4H4A2,2 0 0,0 2,6V18A2,2 0 0,0 4,20H20A2,2 0 0,0 22,18V6A2,2 0 0,0 20,4M12,6.75A2.25,2.25 0 0,1 14.25,9A2.25,2.25 0 0,1 12,11.25A2.25,2.25 0 0,1 9.75,9A2.25,2.25 0 0,1 12,6.75M17,17H7V15.5C7,13.83 10.33,13 12,13C13.67,13 17,13.83 17,15.5V17Z" />
      </svg>
    </div>
  </div>
  <div class="row">
    <div class="medium-offset-1 medium-5 columns text-left">
      <h6>Contact Details</h6>
      <ul class="menu vertical">
        <li>
          <a href="tel:+8801816731369">
            <strong>Phone:</strong> +8801816731369
          </a>
        </li>
        <li>
          <a href="skype:iam_shuvo?chat">
            <strong>Skype:</strong> iam_shuvo
          </a>
        </li>
        <li>
          <a href="mailto:shuvopaul@yahoo.com">
            <strong>mail:</strong> shuvopaul@yahoo.com
          </a>
        </li>
      </ul>
      <h6>Find me on market place</h6>
      <ul class="menu horizontal">
        <li>
          <a href="https://www.fiverr.com/iam_shuvo"><img src="assets/images/fiverr.png"></a>
        </li>
        <li>
          <a href="https://www.upwork.com/freelancers/%7E01398990a92002871d?viewMode=1"><img src="assets/images/up.png"></a>
        </li>
      </ul>
    </div>
    <div class="medium-5 columns text-left">
      <h6>Message Me</h6>
      <form action="https://formspree.io/shuvopaul@yahoo.com" method="POST">
        <input type="text" name="name" placeholder="Full Name">
        <input type="email" name="_replyto" placeholder="Emal Address">
        <textarea rows="6" name="message" placeholder="Message"></textarea>
        <input type="hidden" name="_format" value="plain" />
        <input class="button" type="submit" value="Send">
        <input type="hidden" name="_next" value="//shuvopaul.com/thanks.html" />
      </form>
    </div>
  </div>
</section>
