<header data-sticky-container>
<div class="title-bar" data-sticky data-sticky-on='small' data-options="marginTop:0;" style="width:100%" data-top-anchor="1">
  <div class="top-bar-left">
    <a class="logo" href="{{site.url}}">{{site.siteName}}</a>
  </div>
  <div class="top-bar-right" data-responsive-toggle="primary-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="primary-menu"></button>
  </div>
  <div class="top-bar-right primary-menu" id="primary-menu">
    <ul class="dropdown menu vertical medium-horizontal" data-dropdown-menu>
    {% assign allpages = site.pages | sort:"order" %}
      {% for page in allpages %}
        {% if page.title %}
      <li><a href="{{site.baseurl}}{{page.url}}">{{page.title}}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>
</div>
</header>
