<div class="row medium-up-2">
  {% assign testimonials = site.posts | where: 'group', 'testimonials' %}
  {% for testimonial in testimonials  %}
  <div class="columns">
    <blockquote class="text-left">
      <svg style="width:16px;height:16px" viewBox="0 0 24 24">
        <path d="M10,7L8,11H11V17H5V11L7,7H10M18,7L16,11H19V17H13V11L15,7H18Z" />
      </svg>
      {{testimonial.content}}
      <svg style="width:16px;height:16px" viewBox="0 0 24 24">
        <path d="M14,17H17L19,13V7H13V13H16M6,17H9L11,13V7H5V13H8L6,17Z" />
      </svg>
      <p class="client text-right">-
        {% if testimonial.marketplace contains 'fi' %}
          <img src="assets/images/fi.png">
        {% elsif testimonial.marketplace contains 'up' %}
          <img src="assets/images/up.png">
        {% endif %}
      {{testimonial.client}}
      {% if testimonial.designation %}
        <small>{{testimonial.designation}}</small>
      {% endif %}
      {% if testimonial.company_url %}
        at <a href="testimonial.company_url">{{testimonial.company}}</a>
      {% endif %}
      </p>
    </blockquote>
  </div>
  {% endfor %}
</div>
