{% if page.worksType %}
{% assign works = site.posts | where: 'group', 'works' | where: 'categories', page.worksType %}
{% else %}
{% assign works = site.posts | where: 'group', 'works'%}
{% endif %}
<div class="row medium-up-2" data-equalizer>
  {% for work in works %}
    <div class="columns">
      <div class="project text-center" data-equalizer-watch>
        <div class="thumbnail">
          <img src="{{site.baseurl}}/assets/images/works/{{work.thumbnail}}" alt="{{work.title}}">
        </div>
        {{work.content}}
        <div class="skills">
        {% for skill in work.skills %}
          <button class="button hollow">{{skill}}</button>
        {% endfor %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>
