#hide {
    display: none!important;
}
.pricing-table-container {
    margin-top: 100px;
}
.pricing-table-container table {
    border: 1px solid #ddd!important;
}
.pricing-table-container table thead tr th,
.pricing-table-container table tfoot tr th,
.pricing-table-container table tfoot tr td,
.pricing-table-container table tbody tr th,
.pricing-table-container table tbody tr td,
.pricing-table-container table tr td {
    text-align: center;
    color: #222;
    font-size: 0.875em;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}
 .pricing-table-container td:hover,

 .pricing-table-container th:hover {
    background: #f08766;
 }
.pricing-table-container table thead {
	background-color: #fff;
}

.pricing-table-container table tbody tr:nth-of-type(2n) {
	background-color: #fff;
}
.pricing-table-container table tbody tr:nth-of-type(2n+1){
	background-color: #f9f9f9;
}
.pricing-table-container ul.table-tab {
    margin: 0 auto;
}

.pricing-table-container ul.table-tab li {
    margin: 0 2px;
}

.pricing-table-container ul.table-tab li button {
	font-family: 'Lato', sans-serif;
    font-size: 0.775em;
    background-color: #F5F5F5;
    border-radius: 4px 4px 0 0;
    color: #222;
    padding: 10px 15px;
    margin: 0;
    font-weight: bold;
    border-width: 0!important;
}
.pricing-table-container ul.table-tab li.active-tab button,
.pricing-table-container ul.table-tab li button:hover {
	background-color: #f08766;
}
.pricing-table-container .tables {
	padding: 0 2px;
}
.pricing-table-container .table {
	display: none;
}
.pricing-table-container .active-table {
	display: block;
}