//main StyleSheet

//general
.section{
	padding: 75px 0;
	.section-title{
			display: inline-block;
			position: relative;
			margin-bottom: 45px;
			&:after{
				content: '';
				position: absolute;
				bottom: 14px;
				left: 0;
				width: 100%;
				height: 2px;
				background-color: $primary-color;
				z-index: -1;
			}
		h2{
			display: inline-block;
			margin-bottom: 0;
			line-height: 1;
		}
		.icon{
				margin: 0 auto;
				display: block;
				width: 30px;
				height: 30px;
				padding: 3px;
				background-color: $white;
			
			svg{
				fill: $primary-color;
			}
		}
	}
}
.project{
	margin-top: 30px;
	background-color: #FAFBFC;
	padding-top: 20px;
	padding-left: 20px;
	padding-right: 20px;
	-webkit-box-shadow: 0px 3px 5px 1px rgba(10,10,10,0.08);
	box-shadow: 0px 3px 5px 1px rgba(10,10,10,0.08);
	position: relative;
	.thumbnail{
		max-width: 460px;
		margin: 0 auto 30px;
	}
	.skills{
		position: absolute;
		left: 0;
		bottom: 15px;
		width: 100%;
		padding: 0 15px;
	}
	.button{
		cursor: auto;
		border-radius: 4px;
		margin: 4px;
		padding: 6px 10px;
		font-size: 80%;
	}
}
.window-height{
	min-height: 600px;
	display: table;
	width: 100%;
	.vertically-center{
		display: table-cell;
		vertical-align: middle;
	}
}

//header
header{
	.title-bar{
		&:not(.is-stuck){
			padding-top: 15px;
			padding-bottom: 15px;
			transition: padding 0.25s ease; 
		}
		&.is-stuck{
			.menu a{
				font-size: 95%;
				transition: font-size 0.25s ease; 
			}
			.logo{
				font-size: 20px;
				transition: font-size 0.25s ease;
				display: inline-block;
			}
		}
		.logo{
			font-size: 22px;
			font-weight: 700;
			@include breakpoint(medium up){
				-webkit-transform: translateY(5px);
				-ms-transform: translateY(5px);
				-o-transform: translateY(5px);
				transform: translateY(5px);
			}
		}
		.primary-menu{
			@include breakpoint(small only){
				width: 100%;
				border-top: 1px solid rgba($white, 0.2);
			}
			li{
				a{
					font-weight: 600;
				}
			}
		}
	}
}
.intro{
	border-bottom: 1px solid rgba($primary-color, 0.5);
	h1{
		margin-bottom: 30px;
	}
	.button{
		cursor: auto;
		border-radius: 4px;
		margin: 4px;
		padding: 8px 12px;
	}
}
.recent-works{
	-webkit-box-shadow: 0px 3px 5px 0px rgba(10,10,10,0.06);
	box-shadow: 0px 3px 5px 0px rgba(10,10,10,0.06);
	.button.more{
		margin-top: 55px;
		margin-bottom: 0;
		-webkit-box-shadow: 0px 2px 4px 0px darken($primary-color, 10%);
		box-shadow: 0px 2px 4px 0px darken($primary-color, 10%);
	}
}
.testimonials{
	-webkit-box-shadow: 0px 3px 5px 0px rgba(10,10,10,0.06);
	box-shadow: 0px 3px 5px 0px rgba(10,10,10,0.06);
	blockquote{
		margin: 1rem 0;
		svg{
			fill: $primary-color;
		}
		p:not(.client){
			display: inline;
		}
		.client{
			font-weight: 700;
			margin-right: 18%;
			img{
				width: 15px;
				margin-top: -5px;
			}
		}
	}

}
.contacts{
	
	.menu{
		margin-left: -1rem;
		&.vertical{
			margin-bottom: 30px;
		}
		&.horizontal{
			li > a{
				img{
					width: 65px;
				}
			}
		}
	}
	form{
		margin-top: 0.7rem;
		//margin-left: 1rem;
	}
}
footer{
	background-color: lighten($black, 18%);
	color: #fff;
	.float-left{
		padding: 0.7rem 1rem;
	}
	.float-right > .menu li{
		svg{
			fill: $primary-color;
		}
	}
}